*{
	font-size:12px;
}
body {
	width: 96%;
	height: 100%;
    font-family:verdana,helvetica,arial,sans-serif;
    padding:1% 2% 2% 2%;
    font-size:12px;
    margin:0;
    overflow-y:hidden;
}

textarea {
	font-size: 14px;
}