<?xml version="1.0" encoding="UTF-8"?>
<menus>
	<!-- 一级菜单 -->
	<first-level>
		<id>001</id>
		<text>Query</text>
		<iconCls>.icon-brash</iconCls>
		<children>
			<!-- 二级菜单 -->
			<second-level>
				<id>001-001</id>
				<text>MO Info</text>
				<url>jsp/mo.jsp</url>
				<iconCls>.icon-brash</iconCls>
			</second-level>
			
			<second-level>
				<id>001-002</id>
				<text>GGYR</text>
				<url>jsp/ggyr.jsp</url>
				<iconCls>.icon-brash</iconCls>
			</second-level>
			
			<second-level>
				<id>001-003</id>
				<text>Build Done Fail List</text>
				<url>jsp/builddone.jsp</url>
				<iconCls>.icon-brash</iconCls>
			</second-level>
			
			<second-level>
				<id>001-004</id>
				<text>Aged MO List</text>
				<url>jsp/agedmo.jsp</url>
				<iconCls>.icon-brash</iconCls>
			</second-level>
		</children>
	</first-level>
	<!-- 一级菜单 -->
	<first-level>
		<id>002</id>
		<text>Settings</text>
		<iconCls>.icon-brash</iconCls>
		<children>
			<!-- 二级菜单 -->
			<second-level>
				<id>002-001</id>
				<text>Work Day Calendar</text>
				<url>jsp/workdaycalendar.jsp</url>
				<iconCls>.icon-brash</iconCls>
			</second-level>
		</children>
	</first-level>
</menus>