<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/lenovo/itac/dao/GGYRDaoMapper.xml"/>
        <mapper resource="com/lenovo/itac/dao/AgedMoDaoMapper.xml"/>
        <mapper resource="com/lenovo/itac/dao/BuildDoneDaoMapper.xml"/>
        <mapper resource="com/lenovo/itac/dao/MoInfoDaoMapper.xml"/>
    </mappers>
</configuration>