<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.itac.dao.OffDayDao">
  	<insert id="insert" parameterType="OffDay">
  		INSERT INTO CUST.OFF_DAYS(OFF_DAY,CREATED)  
             VALUES (#{offDay},#{created})
  	</insert>
  	
  	<delete id="delete" parameterType="java.util.Date">
  		DELETE FROM CUST.OFF_DAYS
  		WHERE OFF_DAY = #{offDay,jdbcType=DATE}
  	</delete>
  	
  	<select id="queryOffDays" resultType="String">
  		SELECT OFF_DAY FROM CUST.OFF_DAYS
  		WHERE OFF_DAY BETWEEN #{0} AND #{1}
  	</select>
</mapper>

