<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.itac_web.dao.MenuDao">
  
  <select id="getFirstMenu" resultType="com.lenovo.itac.entity.MenuEntity">
    select id as id,
    	   name as text,
    	   url as url,
    	   iconCls as iconCls,
    	   parentId as parentId
    	from t_menu
    	where parentId is null
  </select>
  
  <select id="getSecondMenuByParentId" resultType="com.lenovo.itac.entity.MenuEntity">
  	select id as id,
    	   name as text,
    	   url as url,
    	   iconCls as iconCls,
    	   parentId as parentId
    	from t_menu
    	where parentId = #{parentId}
  </select>
</mapper>

